<div class="col-md-12 col-sm-12 col-xs-12 fullWidth noMargin noPadding">
    <!-- New Post It -->
    <div class="col-md-12 col-sm-12 col-xs-12 fullWidth noMargin appHeader">
        <span ng-click="goToMain()" class="glyphicon glyphicon-arrow-left col-md-1 col-xs-2 col-sm-1 pointerCursor"></span><label class="col-md-10, col-sm-10 col-xs-8 text-center"> Let's Post it </label><span ng-click="saveAndGoToMain()" class="glyphicon glyphicon-ok col-md-1 col-xs-2 col-sm-1 pointerCursor"></span>
    </div>
    <textarea class="col-md-12 col-sm-12 col-xs-12 fullWidth noMargin fullHeightWithHeader" ng-model="text" placeholder="..."></textarea>
</div>